<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<appSettings>
	<!-- configurable values -->
	<add key="MaxRetries" value="50"/>
	<add key="Portname" value="COM3"/>
	<add key="Baudrate" value="9600"/>
	
	<!-- mapping for pin to executable --> 
	<add key="Pin_14" value="Discord"/> 
	<add key="Pin_15" value="Spotify"/>
	<add key="Pin_16" value="chrome"/>
	<add key="Pin_17" value="xzy"/>
	<add key="Pin_20" value=""/>
	<add key="Pin_21" value=""/>

	<!-- logging -->
	<add key="LogFilename" value="VolMixer"/>
	<add key="LogFilepath" value="E:\logs"/>
	<add key="LogLevel" value="7"/>
</appSettings>
</configuration>