<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<appSettings>
	<!-- configurable values -->
	<add key="MaxRetries" value="50"/>
	<add key="Portname" value="COM3"/>
	<add key="Baudrate" value="9600"/>
	<add key="NIRCMD_LOCATION" value="C:\Windows\nircmd.exe"/>
	
	<!-- mapping for pin to executable --> 
	<add key="Port_14" value="discord.exe"/> 
	<add key="Port_15" value=""/>
	<add key="Port_16" value=""/>
	<add key="Port_17" value=""/>
	<add key="Port_20" value=""/>
	<add key="Port_21" value=""/>
</appSettings>
</configuration>